<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DBScreenHead-Light.ttf</string>
		<string>DBScreenHead-Black.ttf</string>
		<string>DBScreenHead-Regular.ttf</string>
		<string>DBScreenSans-Bold.ttf</string>
		<string>DBScreenSans-DigitalRegular.ttf</string>
		<string>DBScreenSans-Medium.ttf</string>
		<string>DBScreenSans-Regular.ttf</string>
		<string>DBScreenSans-SemiBold.ttf</string>
		<string>DBScreenNews-Regular.ttf</string>
		<string>DBScreenNews-Bold.ttf</string>
	</array>
</dict>
</plist>
